<div class="container page-top">
  <div class="thumbnail col-md-4 col-md-offset-4">

    <%= link_to(list_path(@list), method: :delete, class: "delete-link", confirm: :"Are You Sure?") do %>
      <span class="glyphicon glyphicon-trash"></span>
    <% end %>

    <div ng-controller="TodoController as todoCtrl" ng-init="todoCtrl.init(<%= @todos %>,<%= @list_json %>)">
      <h1>{{todoCtrl.title}}</h1>
      <h4>
        <span class="badge">{{todoCtrl.remaining()}}</span> of
        <span class="badge">{{todoCtrl.things.length}}</span> remaining
      </h4>
      <a href="" ng-click="todoCtrl.archive()" class="label label-danger link">Clear</a>

      <ul class="list-group">
        <li ng-repeat="thing in todoCtrl.things" class="list-group-item">
          <blockquote class="done-{{thing.done}}">
            {{thing.text}}
            <span class="checkbx">
              <input type="checkbox" ng-model="thing.done" ng-change="todoCtrl.change(thing.id, thing.done)">
            </span>
          </blockquote>
        </li>
      </ul>

      <form ng-submit="todoCtrl.addTodo()">
        <div class="input-group">
          <input class=" form-control input-lg" type="text" ng-model="todoCtrl.things.text"  size="30"
                 placeholder="add new todo here">
          <div class="input-group-btn">
            <input class="btn btn-primary btn-lg" type="submit" value="add">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
